{{#contentFor "head:title"}} {{../loaderData.title}} Zinsvergleiche – der-markt.com {{/contentFor}}

<main class="dm-main dm-layout">
  <article class="dm-layout__item dm-layout__item--1">
    <h1 class="dm-main__title">der-markt.com - sparen und investieren</h1>
    <p class="dm-main__par">
      Schulden vermeiden.
    </p>
  </article>

  {{#eachAppTeaser}}
    <section class="dm-app-teaser dm-layout__item dm-layout__item--4">
      <h2 class="dm-app-teaser__title">{{fillIn item.title}}</h2>
      <form method="get" action="{{item.url}}" class="dm-form dm-layout">

        {{#each item.params as |param key|}}
          <fieldset class="dm-fieldset dm-layout__item dm-layout__item--2">
            <legend class="dm-legend">{{param.label}}</legend>
            {{#each param.options as |option index|}}
              <label
                class="dm-label dm-form__label"
                >
                <input
                  {{{checked option.active}}}
                  type="radio"
                  name="{{param.key}}"
                  value="{{option.value}}"
                  class="dm-radio"
                />
                <span class="dm-form__label-text"
                  >{{option.label}}</span>
              </label>
            {{/each}}
          </fieldset>
        {{/each}}
        <div class="dm-fieldset dm-layout__item dm-layout__item--1">
          <button type="submit" class="dm-button">
            Berechnung starten
          </button>
        </div>
      </form>
    </section>
  {{/eachAppTeaser}}
  {{{htmlText}}}
</main>
