<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" 
        content="width=device-width,initial-scale=1,maximum-scale=3,user-scalable=yes"/>
    <meta name="description" content="Die Zinsen">
    <meta name="author" content="John Galt">
    <!-- set by contentFor 'head' on page -->
    <link href="/css/index.css" rel="stylesheet" />
    <script src="/index.js"></script>

    <title>{{{ block 'head:title' }}}</title>
  </head>
  <body class="page">
    <header class="page__header">
      <h1 class="page__title">der-markt.com</h1>
    </header>
    <nav class="page__nav">
      <ul class="page__nav-list">
        {{#each menu}}
        <li class="page__nav-item">
          <a
            href="{{ this.url }}"
            class="fmh-legal-links__list-link"
            title="{{{ this.label }}}"
            ><span class="page__nav-label">{{{ this.label }}}</span></a
          >
        </li>
        {{/each}}
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>

